/* Home.css */
body {
  overflow: hidden;
}


.text-center-vh {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px); /* Adjust the value based on your navbar height */
}

.blinking-cursor {
  display: inline-block;
  width: 20px;
  height: 0.9em;
  background-color: white;
  animation: blink-animation 1s step-end infinite;
  opacity: 70%;
  vertical-align: middle;
}

@keyframes blink-animation {
  50% {
    background-color: transparent;
  }
}

h1 {
  white-space: nowrap;
  font-size: 5em;

  @media (max-width: 767px) {
    font-size: 2em;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Home.css */
.logo {
  width: 50px;
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}

.logo:hover {
  filter: brightness(1000%); /* Set initial state to hue-rotate (white) */
}

.custom-row {
  display: flex;
}