.custom-card-width {
  width: 600px; /* Adjust width as desired */
  max-width: 100%; /* Ensure responsiveness */
}

.projects {
  margin-top: 20px;
}

.mb-4 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  --bs-btn-bg: #792aac;
  --bs-btn-border-color: #792aac;
}

.card {
  color: #ffffff;
  background-color: #1f2226!important;
  border-color: #1f2226!important;
}
