.projects {
  margin-top: 20px;
  display: grid;
  justify-content: center;
}

.row{
  justify-content: center;
  width: max-content;
}

.btn-primary {
  --bs-btn-bg: #792aac;
  --bs-btn-border-color: #792aac;
}

.col-12{
  display:flex;
  justify-content: center;
}

.card {
  color: #ffffff;
  background-color: #1f2226!important;
  border-color: #1f2226!important;
}
